<div class="container">
    <h4 style="margin-left:900px" >Welcome <span style="color:green">{{curUser.name}}</span> |   <a href="/logout" style="font-size:20px; color:lightblue;">Logout</a></h4>
  <hr>
    <p><a href="#/add"><button type="submit" ng-click="" class="btn btn-primary btn-s">Create New Question</button></a></p>

</div>
  <input style="margin-left:1270px" type="text" ng-model="Question_Filter" placeholder="Filter ..">
<div class="container" ng-controller='questionController'>
  <div class="container">
    <h2>Question List</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th ng-click="sortBy = 'created_by'; sortReverse = !sortReverse" class="warning">Question</th>
          <th ng-click="sortBy = 'title'; sortReverse = !sortReverse" class="info">Answers</th>
          <th class="danger">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='question in questions | filter : Question_Filter'>
          <td>{{question.title}}</td>
          <td>{{question.answer_count}}</td>
          <td><a style="margin-right: 10px"href="#/show/{{question._id}}"><button type="submit" name="button" class="btn btn-success btn-s">Show</button></a><a href="#/show/{{question._id}}/new_answer"><button type="submit" class="btn btn-warning btn-s" >Answer</button></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
