<div class="container" ng-controller="questionController">
  <h4 ><a style="text-decoration: underline;" href="#/dash">Home</a><span> | </span><a style="text-decoration: underline;" href="#/show/{{question._id}}/new_answer">Answer this Question</a><a href="/logout" style="font-size:20px; color:lightblue; margin-left:500px;">Logout</a></h4>
  <div class="conatainer">
    <h2>{{question.title}}</h2>
    <h5>{{question.description}}</h5>
  </div>
  <hr>
  <div ng-controller="answerController" class="container">
    <div class="container" ng-repeat="answer in answers | filter:AnswerFilter " >
      <div class="container" ng-if="question._id == answer._answer">
        <p>{{answer.created_by}}</p>
        <p>{{answer.answer}}</p>
        <p ng-if="answer.support">check this out here :<a href="{{answer.support}}">{{answer.support}}</a></p>
        <p>{{answer.answer_like}}Likes | <button type="submit" class="btn btn-info btn-xs" ng-click="like(answer._id)">Like</button></p>
        <hr>
      </div>
    </div>
  </div>

  </table>
</div>
